{% extends 'main/layout.html' %}

{% block content %}
<div class="container">
        {% if errMsg %}
        <div class="alert alert-primary" role="alert">
                {{errMsg}}
        </div>
        {% endif %}
        <br>
        <div class="jumbotron jumbotron-fluid">
                <div class="container">
                        <div class="row">
                                <h1 class="display-4">갈풍집</h1>
                        </div>
                        <div class="row">
                                <p class="lead">광교 경기대 소고기 맛집 갈풍집.</p>
                        </div>

                        <div class="row">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6cOV-RJMKHpiO9Q5E_ZNoyYtnlqz1UJ42KCewCAIXc1k-FULH1Q&s"
                                        class="card-img-top" alt="...">
                        </div>
                </div>
        </div>
        <div class="row">
                {% for food in foods %}
                <div class="card" style="width: 18rem;">
                        <img src="" class="card-img-top" alt="{{food.food.food}}">
                        <div class="card-body">
                                <h5 class="card-title">{{food.food.food}}</h5>
                                <p class="card-text">{{food.food.description}}</p>
                        </div>
                </div>
                {% endfor %}
        </div>
</div>
{% endblock %}