{% extends 'main/layout.html' %}
{% load i18n %}

{% block header %}
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Gal-Pung Restaurant</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">A free reservation, review, enjoy our system</h2>
        <a href="#about" class="btn btn-primary js-scroll-trigger">Get Started</a>
      </div>
    </div>
  </header>
{% endblock %}