{% extends 'main/layout.html' %} {% block header %}
<div class="container">
    <br><br><br><br><br>
    <div class="top">
        <h1>회원 관리</h1>

    </div>
    <br>
    <!-- 예약 리스트를 가져올 부분 -->
    <div class="container" style="border: 3px solid rgba(0, 0, 0, 0.3); border-radius : 5px; position : relative">
        {%for list in posts %}
        <div class="del" style="float : right; margin: 13px 0; margin-left: 10px">
            <a href="{% url 'u_edit' list.id%}">
                <button type="button" class="btn btn-secondary">수정</button>
            </a>
            <!-- <a href="{% url 'delete' list.id%}">
                <button type="button" class="btn btn-danger">삭제</button>
            </a> -->
        </div>
        <div class="list">
            <div class="card" style="margin-top : 13px;">
                <div class="card-body" style="padding-top : 12px; margin-top : 10px;">
                    <p>
                        <b>아이디 : {{ list.idName }}</b><br>
                        <b>닉네임 : </b> {{ list.nickName }}<br>
                        <b>주문 횟수 : </b>{{ list.reservCount }}<br>
                        <b>보유 포인트 : </b>{{ list.point }}<br>
                    </p>
                    <p>
                        <b>핸드폰 번호 :</b> {{ list.phoneNumber }}<br>
                        <b>매니저 여부 :</b> {{ list.isManager }}<br>
                        <b>VIP 여부 : </b> {{ list.isVip }}<br> 
                        <b>블랙 리스트 여부 : </b> {{ list.isBlack }}<br> 
                    
                    
                </div>
            </div>
   </div>
{%endfor%}
<br>
</div>
<br>
<!-- 페이지 네이션 -->
<div class="page">
    <div class="container" style="">
        <h4 style = "">
            {% if posts.has_previous %}
            <a href="?page=1">맨처음 </a>
            <a href="?page={{posts.previous_page_number}}">이전</a>

            {% endif %}

            <span>{{posts.number}}</span>
            <span> of </span>
            <span>{{posts.paginator.num_pages}}</span>

            {% if posts.has_next %}
            <a href="?page={{posts.next_page_number}}">다음</a>
            <a href="?page={{posts.paginator.num_pages}}">마지막</a>
            {% endif %}
<br>
            <form action="{%url 'getpage' %}">
                <h5>페이지 입력
                    <input type='number' name='pagenum'>
                </h5>
            </form>
        </h4>
    </div>
</div>
</div>
<br>
{% endblock %}