{% extends 'main/layout.html' %}
{% load static %}
{% block header %}
<link href="{% static 'login/css/login.css' %}?ver=1" rel="stylesheet">

<div class="container h-100 align-items-center">
  <div style="padding-top :10%">
    {% if errMsg == "로그인 실패" %}
    <div class="alert alert-warning" role="alert">
      {{errMsg}}
    </div>
    {% else %}
    <div class="alert alert-primary" role="alert">
      {{errMsg}}
    </div>
    {% endif %}
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form action="{% url 'login' %}" method="POST" class="form-signin"> {% csrf_token %}
              <div class="form-label-group">
                <input type="text" id="ID_input" class="form-control" placeholder="ID input" name='id' required
                  autofocus>
                <label for="ID_input">ID</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" name='pwd'
                  required>
                <label for="inputPassword">Password</label>
              </div>

              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}